{% extends 'base.html.twig' %}

{% block title %}Welcome on SnowTrick website!{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 id="up" class="center">Snowboard tricks and more</h1>

    <a href="#bloctricks"><i class="fas fa-arrow-down" id="arrow"></i></a>

</div>
<h1 class="center mat-2">Some Tricks</h1>
<div class="mal-1 mat-2 tricksContainer" id="bloctricks">
    <div class="container">
        <div class="row row-cols-5 align-items-start justify-content-center">
            {% set nbTricks = 0 %}
            {% for trick in tricks %}
            <div class="col mab-1">
                <div class="card" style="width: 16rem;">
                    <img src="https://ridestoremagazine.imgix.net/http%3A%2F%2Fwordpress-604950-1959020.cloudwaysapps.com%2Fwp-content%2Fuploads%2F2021%2F04%2Ftrick-tip-how-to-carve-on-a-snowboard-ridestore-magazine.jpg?ixlib=gatsbySourceUrl-1.6.9&auto=format%2Ccompress&crop=faces%2Centropy&fit=crop&w=689&h=689&s=868b5103de49cfc6e17654a07f04dd4e"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="trick/{{trick.slug}}">
                            <h5 class="card-title">{{ trick.name }}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% set nbTricks = nbTricks + 1 %}
            {% endfor %}
        </div>
    </div>

    {#{% if nbAllTricks > nbTricks %}
    <a href="#up"><i class="fas fa-arrow-up"></i></a>
    {% endif %}#}
</div>
{% set nbAllTricks = 0 %}
{% for tricks in allTricks %}
{% set nbAllTricks = nbAllTricks + 1 %}
{% endfor %}
{% if nbAllTricks > nbTricks %}
<div class="center">
    <a href="" class="btn btn-dark">Load more</a>
</div>
<a href="#up"><i class="fas fa-arrow-up"></i></a>
{% endif %}
<script src="{{asset('js/arrowGeoffray.js')}}"></script>
{% endblock %}