{% extends 'base.html.twig' %}

{% block title %}Welcome on SnowTrick website!{% endblock %}

{% block body %}
<div class="jumbotron center bg-purple">
<h1 class="center">Le site qui référencie les figures de Snowboard</h1>
</div>
{% endblock %}

